### 2.Resampling

* pd.DataFrame.resample()
* pd.Series.resample(rule,
                     axis = 0,
                     label = "left",
                     closed = "left",
                     loffet)
    - 下采样
        - `.resample().<func>()`
            - `.resample().mean()`
            - `.resample().min()`
            - `.resample().max()`
            - `.resample().median()`
    - `.resample().apply(<func>)`
    - 上采样
        - `.resample().asfreq()`
        - `.resample().ffill()`
        - `.resample().bfill()`

#### 2.1 下采样

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
rng = pd.date_range("1/1/2000", periods = 9, freq = "T")
ts = pd.Series(np.arange(9), index = rng)
print(ts)
print("-" * 25)
print("以bin的左label做lable, 左label之后3分钟的和, 包括label的值: ")
print("-" * 25)
print(ts.resample("3T").sum())
print("-" * 25)
print("以bin的右label做label, 右label之前3分钟的和, 不包括label的值: ")
print("-" * 25)
print(ts.resample("3T", label = "right").sum())
print("-" * 25)
print("以bin的右label做label, 右label之前3分钟的和, 不包括label的值(每个bin label之前3分钟的和): ")
print("-" * 25)
print(ts.resample("3T", label = "right", closed = "right").sum())

print("-" * 25)
print("自定义函数采样:")
print("-" * 25)
def custom_resampler(array_like):
    return np.sum(array_like) + 5
print(ts.resample("3T").apply(custom_resampler))

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int32
-------------------------
以bin的左label做lable, 左label之后3分钟的和, 包括label的值:
-------------------------
2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int32
-------------------------
以bin的右label做label, 右label之前3分钟的和, 不包括label的值:
-------------------------
2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int32
-------------------------
以bin的右label做label, 右label之前3分钟的和, 不包括label的值(每个bin label之前3分钟的和):
-------------------------
2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int32
-------------------------
自定义函数采样:
-------------------------
2000-01-01 00:00:00     8
2000-01-01 00:03:00    17
2000-01-01 00:06:00    26
Freq: 3T, dtype: int32

In [40]:
df = pd.DataFrame({
    "price": [10, 11, 9, 13, 14, 18, 17, 19],
    "volume": [50, 60, 40, 100, 50, 100, 40, 50],
    "week_starting": pd.date_range("01/01/2018", periods = 8, freq = "W")
})
print(df)
print(df.resample("M", on = "week_starting").mean())

   price  volume week_starting
0     10      50    2018-01-07
1     11      60    2018-01-14
2      9      40    2018-01-21
3     13     100    2018-01-28
4     14      50    2018-02-04
5     18     100    2018-02-11
6     17      40    2018-02-18
7     19      50    2018-02-25
               price  volume
week_starting
2018-01-31     10.75    62.5
2018-02-28     17.00    60.0

In [45]:
days = pd.date_range("1/1/2000", periods = 4, freq = "D")
d2 = dict({
    "price": [10, 11, 9, 13, 14, 18, 17, 19],
    "volumn": [50, 60, 40, 100, 50, 100, 40, 50]
})
df = pd.DataFrame(d2, index = pd.MultiIndex.from_product([days, ["morning", "afternoon"]]))
print(df)
print()
print(df.resample("D", level = 0).sum())

                      price  volumn
2000-01-01 morning       10      50
           afternoon     11      60
2000-01-02 morning        9      40
           afternoon     13     100
2000-01-03 morning       14      50
           afternoon     18     100
2000-01-04 morning       17      40
           afternoon     19      50

            price  volumn
2000-01-01     21     110
2000-01-02     22     140
2000-01-03     32     150
2000-01-04     36      90

#### 2.2 上采样

In [32]:
print(ts)
print()
print(ts.resample("30S").asfreq())
print()
print(ts.resample("30S").ffill())
print()
print(ts.resample("30S").bfill())

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int32

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    NaN
2000-01-01 00:03:00    3.0
2000-01-01 00:03:30    NaN
2000-01-01 00:04:00    4.0
2000-01-01 00:04:30    NaN
2000-01-01 00:05:00    5.0
2000-01-01 00:05:30    NaN
2000-01-01 00:06:00    6.0
2000-01-01 00:06:30    NaN
2000-01-01 00:07:00    7.0
2000-01-01 00:07:30    NaN
2000-01-01 00:08:00    8.0
Freq: 30S, dtype: float64

2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
2000-01-01 00:02:30    2
2000-01-01 00:03:00    3
2000-01-01 00:03:30    3
2000-01-01 00:04:00    4
2000-01-01 00:04:30    4
2000-01-01 00:05:00    5
2000-01-01 00:05:30    5
2000-01-01 00:06:00    6
2000-01-01 00:06:30    6
2000-01-01 00:07:00    7
2000-01-01 00:07:30    7
2000-01-01 00:08:00    8
Freq: 30S, dtype: int32

2000-01-01 00:00:00    0
2000-01-01 00:00:30    1
2000-01-01 00:01:00    1
2000-01-01 00:01:30    2
2000-01-01 00:02:00    2
2000-01-01 00:02:30    3
2000-01-01 00:03:00    3
2000-01-01 00:03:30    4
2000-01-01 00:04:00    4
2000-01-01 00:04:30    5
2000-01-01 00:05:00    5
2000-01-01 00:05:30    6
2000-01-01 00:06:00    6
2000-01-01 00:06:30    7
2000-01-01 00:07:00    7
2000-01-01 00:07:30    8
2000-01-01 00:08:00    8
Freq: 30S, dtype: int32

In [37]:
s = pd.Series([1, 2], index = pd.period_range("2012-01-01", freq = "A", periods = 2))
print(s)
print()
print(s.resample("Q", convention = "start").asfreq())
print()
print(s.resample("Q", convention = "end").asfreq())

2012    1
2013    2
Freq: A-DEC, dtype: int64

2012Q1    1.0
2012Q2    NaN
2012Q3    NaN
2012Q4    NaN
2013Q1    2.0
2013Q2    NaN
2013Q3    NaN
2013Q4    NaN
Freq: Q-DEC, dtype: float64

2012Q4    1.0
2013Q1    NaN
2013Q2    NaN
2013Q3    NaN
2013Q4    2.0
Freq: Q-DEC, dtype: float64

#### 2.3 稀疏重采样

In [50]:
rng = pd.date_range("2014-1-1", 
                    periods = 100, 
                    freq = "D") + \
    pd.Timedelta("1s")
ts = pd.Series(range(100), index = rng)
print(ts)
print()
print(ts.resample("3T").sum())
print()

from functools import partial
from pandas.tseries.frequencies import to_offset
def round(t, freq):
    freq = to_offset(freq)
    return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
print(ts.groupby(partial(round, freq = "3T")).sum())

2014-01-01 00:00:01     0
2014-01-02 00:00:01     1
2014-01-03 00:00:01     2
2014-01-04 00:00:01     3
2014-01-05 00:00:01     4
2014-01-06 00:00:01     5
2014-01-07 00:00:01     6
2014-01-08 00:00:01     7
2014-01-09 00:00:01     8
2014-01-10 00:00:01     9
2014-01-11 00:00:01    10
2014-01-12 00:00:01    11
2014-01-13 00:00:01    12
2014-01-14 00:00:01    13
2014-01-15 00:00:01    14
2014-01-16 00:00:01    15
2014-01-17 00:00:01    16
2014-01-18 00:00:01    17
2014-01-19 00:00:01    18
2014-01-20 00:00:01    19
2014-01-21 00:00:01    20
2014-01-22 00:00:01    21
2014-01-23 00:00:01    22
2014-01-24 00:00:01    23
2014-01-25 00:00:01    24
2014-01-26 00:00:01    25
2014-01-27 00:00:01    26
2014-01-28 00:00:01    27
2014-01-29 00:00:01    28
2014-01-30 00:00:01    29
                       ..
2014-03-12 00:00:01    70
2014-03-13 00:00:01    71
2014-03-14 00:00:01    72
2014-03-15 00:00:01    73
2014-03-16 00:00:01    74
2014-03-17 00:00:01    75
2014-03-18 00:00:01    76
2014-03-19 00:00:01    77
2014-03-20 00:00:01    78
2014-03-21 00:00:01    79
2014-03-22 00:00:01    80
2014-03-23 00:00:01    81
2014-03-24 00:00:01    82
2014-03-25 00:00:01    83
2014-03-26 00:00:01    84
2014-03-27 00:00:01    85
2014-03-28 00:00:01    86
2014-03-29 00:00:01    87
2014-03-30 00:00:01    88
2014-03-31 00:00:01    89
2014-04-01 00:00:01    90
2014-04-02 00:00:01    91
2014-04-03 00:00:01    92
2014-04-04 00:00:01    93
2014-04-05 00:00:01    94
2014-04-06 00:00:01    95
2014-04-07 00:00:01    96
2014-04-08 00:00:01    97
2014-04-09 00:00:01    98
2014-04-10 00:00:01    99
Freq: D, Length: 100, dtype: int64

2014-01-01 00:00:00     0
2014-01-01 00:03:00     0
2014-01-01 00:06:00     0
2014-01-01 00:09:00     0
2014-01-01 00:12:00     0
2014-01-01 00:15:00     0
2014-01-01 00:18:00     0
2014-01-01 00:21:00     0
2014-01-01 00:24:00     0
2014-01-01 00:27:00     0
2014-01-01 00:30:00     0
2014-01-01 00:33:00     0
2014-01-01 00:36:00     0
2014-01-01 00:39:00     0
2014-01-01 00:42:00     0
2014-01-01 00:45:00     0
2014-01-01 00:48:00     0
2014-01-01 00:51:00     0
2014-01-01 00:54:00     0
2014-01-01 00:57:00     0
2014-01-01 01:00:00     0
2014-01-01 01:03:00     0
2014-01-01 01:06:00     0
2014-01-01 01:09:00     0
2014-01-01 01:12:00     0
2014-01-01 01:15:00     0
2014-01-01 01:18:00     0
2014-01-01 01:21:00     0
2014-01-01 01:24:00     0
2014-01-01 01:27:00     0
                       ..
2014-04-09 22:33:00     0
2014-04-09 22:36:00     0
2014-04-09 22:39:00     0
2014-04-09 22:42:00     0
2014-04-09 22:45:00     0
2014-04-09 22:48:00     0
2014-04-09 22:51:00     0
2014-04-09 22:54:00     0
2014-04-09 22:57:00     0
2014-04-09 23:00:00     0
2014-04-09 23:03:00     0
2014-04-09 23:06:00     0
2014-04-09 23:09:00     0
2014-04-09 23:12:00     0
2014-04-09 23:15:00     0
2014-04-09 23:18:00     0
2014-04-09 23:21:00     0
2014-04-09 23:24:00     0
2014-04-09 23:27:00     0
2014-04-09 23:30:00     0
2014-04-09 23:33:00     0
2014-04-09 23:36:00     0
2014-04-09 23:39:00     0
2014-04-09 23:42:00     0
2014-04-09 23:45:00     0
2014-04-09 23:48:00     0
2014-04-09 23:51:00     0
2014-04-09 23:54:00     0
2014-04-09 23:57:00     0
2014-04-10 00:00:00    99
Freq: 3T, Length: 47521, dtype: int64

2014-01-01     0
2014-01-02     1
2014-01-03     2
2014-01-04     3
2014-01-05     4
2014-01-06     5
2014-01-07     6
2014-01-08     7
2014-01-09     8
2014-01-10     9
2014-01-11    10
2014-01-12    11
2014-01-13    12
2014-01-14    13
2014-01-15    14
2014-01-16    15
2014-01-17    16
2014-01-18    17
2014-01-19    18
2014-01-20    19
2014-01-21    20
2014-01-22    21
2014-01-23    22
2014-01-24    23
2014-01-25    24
2014-01-26    25
2014-01-27    26
2014-01-28    27
2014-01-29    28
2014-01-30    29
              ..
2014-03-12    70
2014-03-13    71
2014-03-14    72
2014-03-15    73
2014-03-16    74
2014-03-17    75
2014-03-18    76
2014-03-19    77
2014-03-20    78
2014-03-21    79
2014-03-22    80
2014-03-23    81
2014-03-24    82
2014-03-25    83
2014-03-26    84
2014-03-27    85
2014-03-28    86
2014-03-29    87
2014-03-30    88
2014-03-31    89
2014-04-01    90
2014-04-02    91
2014-04-03    92
2014-04-04    93
2014-04-05    94
2014-04-06    95
2014-04-07    96
2014-04-08    97
2014-04-09    98
2014-04-10    99
Length: 100, dtype: int64

#### 2.4 聚合

In [62]:
df = pd.DataFrame(np.random.randn(1000, 3),
                  index = pd.date_range("1/1/2012", freq = "S", periods = 1000),
                  columns = ["A", "B", "C"])
print(df)
print()
print(df.resample("3T").mean())
print()
print(df.resample("3T")[["A"]].mean())
print()
print(df.resample("3T")[["A", "B"]].mean())
print()
print(df.resample("3T")[["A"]].agg([np.sum, np.mean, np.std]))
print()
print(df.resample("3T").agg([np.mean, np.std]))
print()
print(df.resample("3T").agg({
    "A": np.sum,
    "B": lambda x: np.std(x, ddof = 1)
}))
print()
print(df.resample("3T").agg({
    "A": "sum",
    "B": "std"
}))
print()
print(df.resample("3T").agg({
    "A": ["sum", "std"],
    "B": ["mean", "std"]
}))

                            A         B         C
2012-01-01 00:00:00  0.336515 -0.386290  1.717879
2012-01-01 00:00:01 -2.222708 -0.221846  0.887976
2012-01-01 00:00:02  1.471355 -2.353450  0.572891
2012-01-01 00:00:03  0.622124 -1.583003 -1.672274
2012-01-01 00:00:04  0.646684  0.446552 -1.230236
2012-01-01 00:00:05 -1.704984  1.567934 -0.691381
2012-01-01 00:00:06 -0.665108 -1.076047 -1.947010
2012-01-01 00:00:07  0.431403 -0.842100 -1.125320
2012-01-01 00:00:08  1.297766  0.463347 -0.751704
2012-01-01 00:00:09 -1.543089 -0.619325  1.033533
2012-01-01 00:00:10  0.888560 -1.509188 -0.275000
2012-01-01 00:00:11  0.460785  0.330112 -0.267047
2012-01-01 00:00:12 -0.727969 -1.433808 -0.158661
2012-01-01 00:00:13  0.174241  1.225670  0.218813
2012-01-01 00:00:14 -2.083256 -0.417204  0.504554
2012-01-01 00:00:15  0.816620 -0.210799  0.124784
2012-01-01 00:00:16 -1.559316 -0.246902 -0.271187
2012-01-01 00:00:17  0.611023 -0.506362 -1.103645
2012-01-01 00:00:18 -0.384813  0.552665 -0.410265
2012-01-01 00:00:19 -0.728683 -0.943776  0.166450
2012-01-01 00:00:20 -0.478171 -0.749866  0.808459
2012-01-01 00:00:21 -0.689011  1.576719  1.072027
2012-01-01 00:00:22 -0.024531  0.817097 -0.226969
2012-01-01 00:00:23  1.433027  0.183683  0.023281
2012-01-01 00:00:24  0.197620  0.167600  1.745989
2012-01-01 00:00:25  1.560077 -0.220131 -0.299732
2012-01-01 00:00:26  0.355487 -1.529608 -0.737496
2012-01-01 00:00:27 -0.952650 -0.576068  0.369592
2012-01-01 00:00:28 -0.463770 -0.647722 -0.006824
2012-01-01 00:00:29 -0.190198 -1.382138  0.424140
...                       ...       ...       ...
2012-01-01 00:16:10  0.539805  0.740331  0.365463
2012-01-01 00:16:11  1.059007 -1.391270 -0.265420
2012-01-01 00:16:12 -1.158540  0.920152 -0.208535
2012-01-01 00:16:13  1.882523 -0.030041  0.623576
2012-01-01 00:16:14  0.541796  1.767834 -0.093941
2012-01-01 00:16:15 -1.942713  2.264532 -1.248674
2012-01-01 00:16:16  1.128653 -0.291606 -0.208972
2012-01-01 00:16:17 -0.848511  0.418460  0.468439
2012-01-01 00:16:18  0.372509  1.342144 -0.216277
2012-01-01 00:16:19 -0.294186  0.110022  0.030454
2012-01-01 00:16:20 -0.478935 -0.063172  0.055896
2012-01-01 00:16:21  1.841150 -1.189168 -0.468461
2012-01-01 00:16:22  0.984392 -0.868978 -1.221172
2012-01-01 00:16:23 -0.599360  3.185338  0.607351
2012-01-01 00:16:24 -1.106189  1.599116  2.684810
2012-01-01 00:16:25 -0.483494  2.450083 -0.232830
2012-01-01 00:16:26 -0.061821  0.049095 -1.428472
2012-01-01 00:16:27 -1.421957  0.063132  1.353186
2012-01-01 00:16:28 -1.651587  0.431689 -0.266457
2012-01-01 00:16:29  0.958970  0.234443 -1.119284
2012-01-01 00:16:30  0.232643 -1.514008  0.530123
2012-01-01 00:16:31 -0.682377 -1.046240 -0.995564
2012-01-01 00:16:32  0.155572 -0.831208 -0.919766
2012-01-01 00:16:33 -0.621830  0.040735  0.610009
2012-01-01 00:16:34 -0.003178  0.350815 -0.612797
2012-01-01 00:16:35 -0.741491 -1.019437 -0.067735
2012-01-01 00:16:36  0.945283  0.700044  0.254879
2012-01-01 00:16:37  0.873637 -0.469738 -0.918500
2012-01-01 00:16:38 -0.940125 -1.228326 -0.327372
2012-01-01 00:16:39 -0.812465 -0.578801 -0.105202

[1000 rows x 3 columns]

                            A         B         C
2012-01-01 00:00:00 -0.002493 -0.069280 -0.012840
2012-01-01 00:03:00  0.035163  0.126236 -0.001543
2012-01-01 00:06:00 -0.030629 -0.156691  0.058620
2012-01-01 00:09:00  0.027243 -0.021542 -0.066300
2012-01-01 00:12:00  0.011141  0.021184 -0.063905
2012-01-01 00:15:00 -0.069353  0.016018 -0.022881

                            A
2012-01-01 00:00:00 -0.002493
2012-01-01 00:03:00  0.035163
2012-01-01 00:06:00 -0.030629
2012-01-01 00:09:00  0.027243
2012-01-01 00:12:00  0.011141
2012-01-01 00:15:00 -0.069353

                            A         B
2012-01-01 00:00:00 -0.002493 -0.069280
2012-01-01 00:03:00  0.035163  0.126236
2012-01-01 00:06:00 -0.030629 -0.156691
2012-01-01 00:09:00  0.027243 -0.021542
2012-01-01 00:12:00  0.011141  0.021184
2012-01-01 00:15:00 -0.069353  0.016018

                            A
                          sum      mean       std
2012-01-01 00:00:00 -0.448704 -0.002493  1.022263
2012-01-01 00:03:00  6.329291  0.035163  1.104173
2012-01-01 00:06:00 -5.513270 -0.030629  1.038028
2012-01-01 00:09:00  4.903824  0.027243  0.981775
2012-01-01 00:12:00  2.005376  0.011141  0.967359
2012-01-01 00:15:00 -6.935251 -0.069353  1.031231

                            A                   B                   C  \
                         mean       std      mean       std      mean
2012-01-01 00:00:00 -0.002493  1.022263 -0.069280  1.012985 -0.012840
2012-01-01 00:03:00  0.035163  1.104173  0.126236  0.993229 -0.001543
2012-01-01 00:06:00 -0.030629  1.038028 -0.156691  0.828912  0.058620
2012-01-01 00:09:00  0.027243  0.981775 -0.021542  0.962448 -0.066300
2012-01-01 00:12:00  0.011141  0.967359  0.021184  1.014028 -0.063905
2012-01-01 00:15:00 -0.069353  1.031231  0.016018  1.003057 -0.022881


                          std
2012-01-01 00:00:00  0.972503
2012-01-01 00:03:00  0.993722
2012-01-01 00:06:00  1.014610
2012-01-01 00:09:00  0.938577
2012-01-01 00:12:00  0.977708
2012-01-01 00:15:00  0.915795

                            A         B
2012-01-01 00:00:00 -0.448704  1.012985
2012-01-01 00:03:00  6.329291  0.993229
2012-01-01 00:06:00 -5.513270  0.828912
2012-01-01 00:09:00  4.903824  0.962448
2012-01-01 00:12:00  2.005376  1.014028
2012-01-01 00:15:00 -6.935251  1.003057

                            A         B
2012-01-01 00:00:00 -0.448704  1.012985
2012-01-01 00:03:00  6.329291  0.993229
2012-01-01 00:06:00 -5.513270  0.828912
2012-01-01 00:09:00  4.903824  0.962448
2012-01-01 00:12:00  2.005376  1.014028
2012-01-01 00:15:00 -6.935251  1.003057

                            A                   B
                          sum       std      mean       std
2012-01-01 00:00:00 -0.448704  1.022263 -0.069280  1.012985
2012-01-01 00:03:00  6.329291  1.104173  0.126236  0.993229
2012-01-01 00:06:00 -5.513270  1.038028 -0.156691  0.828912
2012-01-01 00:09:00  4.903824  0.981775 -0.021542  0.962448
2012-01-01 00:12:00  2.005376  0.967359  0.021184  1.014028
2012-01-01 00:15:00 -6.935251  1.031231  0.016018  1.003057

#### 2.5 迭代组

In [46]:
small = pd.Series(
    range(6),
    index = pd.to_datetime(['2017-01-01T00:00:00',
                            '2017-01-01T00:30:00',
                            '2017-01-01T00:31:00',
                            '2017-01-01T01:00:00',
                            '2017-01-01T03:00:00',
                            '2017-01-01T03:05:00'])
)
print(small)
resampled = small.resample("H")
print()
print(resampled)
print()
for name, group in resampled:
    print("Group: ", name)
    print("-" * 27)
    print(group, end = "\n\n")

2017-01-01 00:00:00    0
2017-01-01 00:30:00    1
2017-01-01 00:31:00    2
2017-01-01 01:00:00    3
2017-01-01 03:00:00    4
2017-01-01 03:05:00    5
dtype: int64

DatetimeIndexResampler [freq=<Hour>, axis=0, closed=left, label=left, convention=start, base=0]

Group:  2017-01-01 00:00:00
---------------------------
2017-01-01 00:00:00    0
2017-01-01 00:30:00    1
2017-01-01 00:31:00    2
dtype: int64

Group:  2017-01-01 01:00:00
---------------------------
2017-01-01 01:00:00    3
dtype: int64

Group:  2017-01-01 02:00:00
---------------------------
Series([], dtype: int64)

Group:  2017-01-01 03:00:00
---------------------------
2017-01-01 03:00:00    4
2017-01-01 03:05:00    5
dtype: int64

### 3.groupby

In [17]:
df_re = pd.DataFrame({
    "A": [1] * 10 + [5] * 10,
    "B": np.arange(20)
})
print(df_re)
print("-" * 25)
print(df_re.groupby("A").rolling(4).B.mean())
print("-" * 25)
print(df_re.groupby("A").expanding().sum())

    A   B
0   1   0
1   1   1
2   1   2
3   1   3
4   1   4
5   1   5
6   1   6
7   1   7
8   1   8
9   1   9
10  5  10
11  5  11
12  5  12
13  5  13
14  5  14
15  5  15
16  5  16
17  5  17
18  5  18
19  5  19
-------------------------
A
1  0      NaN
   1      NaN
   2      NaN
   3      1.5
   4      2.5
   5      3.5
   6      4.5
   7      5.5
   8      6.5
   9      7.5
5  10     NaN
   11     NaN
   12     NaN
   13    11.5
   14    12.5
   15    13.5
   16    14.5
   17    15.5
   18    16.5
   19    17.5
Name: B, dtype: float64
-------------------------
         A      B
A
1 0    1.0    0.0
  1    2.0    1.0
  2    3.0    3.0
  3    4.0    6.0
  4    5.0   10.0
  5    6.0   15.0
  6    7.0   21.0
  7    8.0   28.0
  8    9.0   36.0
  9   10.0   45.0
5 10   5.0   10.0
  11  10.0   21.0
  12  15.0   33.0
  13  20.0   46.0
  14  25.0   60.0
  15  30.0   75.0
  16  35.0   91.0
  17  40.0  108.0
  18  45.0  126.0
  19  50.0  145.0

In [24]:
df_re = pd.DataFrame({
    "date": pd.date_range(start = "2016-01-01", periods = 4, freq = "W"),
    "group": [1, 1, 2, 2],
    "val": [5, 6, 7, 8]
}).set_index("date")
print(df_re)
print("-" * 25)
print(df_re.groupby("group").resample("1D").ffill())
print("-" * 25)
print(df_re.groupby("group").resample("1D").bfill())

            group  val
date
2016-01-03      1    5
2016-01-10      1    6
2016-01-17      2    7
2016-01-24      2    8
-------------------------
                  group  val
group date
1     2016-01-03      1    5
      2016-01-04      1    5
      2016-01-05      1    5
      2016-01-06      1    5
      2016-01-07      1    5
      2016-01-08      1    5
      2016-01-09      1    5
      2016-01-10      1    6
2     2016-01-17      2    7
      2016-01-18      2    7
      2016-01-19      2    7
      2016-01-20      2    7
      2016-01-21      2    7
      2016-01-22      2    7
      2016-01-23      2    7
      2016-01-24      2    8
-------------------------
                  group  val
group date
1     2016-01-03      1    5
      2016-01-04      1    6
      2016-01-05      1    6
      2016-01-06      1    6
      2016-01-07      1    6
      2016-01-08      1    6
      2016-01-09      1    6
      2016-01-10      1    6
2     2016-01-17      2    7
      2016-01-18      2    8
      2016-01-19      2    8
      2016-01-20      2    8
      2016-01-21      2    8
      2016-01-22      2    8
      2016-01-23      2    8
      2016-01-24      2    8

### 4.

* warnings
    - warn()
    - `filterwarnings()`
        - action = "error"
        - action = "ignore"
        - action = "always"
        - action = "default"
        - action = "module"
        - action = "once"
    - resetwarnings()
    - showwarning()
    - formatwarning()

#### 4.1 [Question](https://stackoverflow.com/questions/15297053/how-can-i-divide-single-values-of-a-dataframe-by-monthly-averages)

In [37]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")

np.random.seed(93)
rng = pd.date_range(start = "2014-01-01", end = "2017-01-01", freq = "15T")
ts = pd.Series(np.random.randint(0, 2000, len(rng)), index = rng)

print(ts)
print(len(ts["2014-01-01"]))   # 96
print(ts["2014-01-01"].mean()) # 1056.2916666666667

print("-" * 50)
grouper = pd.TimeGrouper("1M")
ts["normed"] = ts.groupby(grouper).transform(lambda x: x / x.mean())
print(ts)

2014-01-01 00:00:00     421
2014-01-01 00:15:00    1371
2014-01-01 00:30:00    1412
2014-01-01 00:45:00    1176
2014-01-01 01:00:00     207
2014-01-01 01:15:00    1633
2014-01-01 01:30:00    1109
2014-01-01 01:45:00     560
2014-01-01 02:00:00     845
2014-01-01 02:15:00     237
2014-01-01 02:30:00     436
2014-01-01 02:45:00    1716
2014-01-01 03:00:00    1017
2014-01-01 03:15:00    1203
2014-01-01 03:30:00     917
2014-01-01 03:45:00    1073
2014-01-01 04:00:00    1866
2014-01-01 04:15:00     929
2014-01-01 04:30:00     520
2014-01-01 04:45:00     583
2014-01-01 05:00:00     464
2014-01-01 05:15:00    1240
2014-01-01 05:30:00     521
2014-01-01 05:45:00    1847
2014-01-01 06:00:00    1790
2014-01-01 06:15:00    1419
2014-01-01 06:30:00    1797
2014-01-01 06:45:00     428
2014-01-01 07:00:00     811
2014-01-01 07:15:00    1279
                       ...
2016-12-31 16:45:00    1550
2016-12-31 17:00:00    1327
2016-12-31 17:15:00     724
2016-12-31 17:30:00     525
2016-12-31 17:45:00     133
2016-12-31 18:00:00     454
2016-12-31 18:15:00    1703
2016-12-31 18:30:00     580
2016-12-31 18:45:00     786
2016-12-31 19:00:00     507
2016-12-31 19:15:00    1237
2016-12-31 19:30:00    1179
2016-12-31 19:45:00      78
2016-12-31 20:00:00    1666
2016-12-31 20:15:00    1174
2016-12-31 20:30:00    1531
2016-12-31 20:45:00    1030
2016-12-31 21:00:00     211
2016-12-31 21:15:00     316
2016-12-31 21:30:00    1089
2016-12-31 21:45:00      55
2016-12-31 22:00:00     435
2016-12-31 22:15:00     732
2016-12-31 22:30:00     553
2016-12-31 22:45:00     717
2016-12-31 23:00:00     856
2016-12-31 23:15:00     639
2016-12-31 23:30:00    1055
2016-12-31 23:45:00    1943
2017-01-01 00:00:00    1395
Freq: 15T, Length: 105217, dtype: int32
96
1056.2916666666667
--------------------------------------------------
2014-01-01 00:00:00                                                  421
2014-01-01 00:15:00                                                 1371
2014-01-01 00:30:00                                                 1412
2014-01-01 00:45:00                                                 1176
2014-01-01 01:00:00                                                  207
2014-01-01 01:15:00                                                 1633
2014-01-01 01:30:00                                                 1109
2014-01-01 01:45:00                                                  560
2014-01-01 02:00:00                                                  845
2014-01-01 02:15:00                                                  237
2014-01-01 02:30:00                                                  436
2014-01-01 02:45:00                                                 1716
2014-01-01 03:00:00                                                 1017
2014-01-01 03:15:00                                                 1203
2014-01-01 03:30:00                                                  917
2014-01-01 03:45:00                                                 1073
2014-01-01 04:00:00                                                 1866
2014-01-01 04:15:00                                                  929
2014-01-01 04:30:00                                                  520
2014-01-01 04:45:00                                                  583
2014-01-01 05:00:00                                                  464
2014-01-01 05:15:00                                                 1240
2014-01-01 05:30:00                                                  521
2014-01-01 05:45:00                                                 1847
2014-01-01 06:00:00                                                 1790
2014-01-01 06:15:00                                                 1419
2014-01-01 06:30:00                                                 1797
2014-01-01 06:45:00                                                  428
2014-01-01 07:00:00                                                  811
2014-01-01 07:15:00                                                 1279
                                             ...
2016-12-31 17:00:00                                                 1327
2016-12-31 17:15:00                                                  724
2016-12-31 17:30:00                                                  525
2016-12-31 17:45:00                                                  133
2016-12-31 18:00:00                                                  454
2016-12-31 18:15:00                                                 1703
2016-12-31 18:30:00                                                  580
2016-12-31 18:45:00                                                  786
2016-12-31 19:00:00                                                  507
2016-12-31 19:15:00                                                 1237
2016-12-31 19:30:00                                                 1179
2016-12-31 19:45:00                                                   78
2016-12-31 20:00:00                                                 1666
2016-12-31 20:15:00                                                 1174
2016-12-31 20:30:00                                                 1531
2016-12-31 20:45:00                                                 1030
2016-12-31 21:00:00                                                  211
2016-12-31 21:15:00                                                  316
2016-12-31 21:30:00                                                 1089
2016-12-31 21:45:00                                                   55
2016-12-31 22:00:00                                                  435
2016-12-31 22:15:00                                                  732
2016-12-31 22:30:00                                                  553
2016-12-31 22:45:00                                                  717
2016-12-31 23:00:00                                                  856
2016-12-31 23:15:00                                                  639
2016-12-31 23:30:00                                                 1055
2016-12-31 23:45:00                                                 1943
2017-01-01 00:00:00                                                 1395
normed                 2014-01-01 00:00:00    0.417882
2014-01-01 00:...
Length: 105218, dtype: object